.row {
    max-width: 99%;
}


header {

    nav {
        background-color: #005FA9;
        width: 100vw;
        margin: 0.5rem;

        border: 1px solid transparent;
        border-radius: 0.5rem;

        color: white;
    }

    .todo-nav {
        text-transform: capitalize;
        max-height: fit-content;


        .nav-title {
            width: 70vw;
            display: flex;
            justify-content: space-around;
        }

        #logo-of-app {
            max-width: 5rem;
            max-height: 5rem;
            border: 1px solid transparent;
            border-radius: 50%;

            align-self: flex-start;
            cursor: pointer;
        }

        #avata {
            max-width: 5rem;
            max-height: 5rem;

            border: 1px solid transparent;
            border-radius: 50%;
        }

        .collapse {
            margin-top: 0.5rem;
        }
    }

    button.navbar-toggler {
        color: white;
        background-color: transparent;

        font-size: xx-large;
    }

}

.alert{
    margin: 1rem;
    text-transform: capitalize;
    color: #005FA9;
}

.content {
    margin: 0.5rem;
    padding: 0.3rem;

    .content-left {
        border: 1px solid transparent;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: burlywood;

        /* z-index: 9999; */

        .content-left-nav{
            padding: 0.5rem;
        }

        #addModal {

            label,
            h3 {
                text-transform: capitalize;
            }

            .modal-header {
                background-color: #005FA9;
                color: white;

                button {
                    color: red;
                }
            }

            .error {
                color: red;
            }
        }

        #tooggleNavlef{
            font-size: x-large;
        }

        a {
            color: white;
            font-size: x-large;
        }

        a:hover {
            color: #005FA9;
        }

        ul {
            li {
                list-style: none;
                /* display: none; */

                p {
                    text-transform: capitalize;
                    font-size: 2vh;
                }
            }
        }

        p{
            cursor: pointer;
            color: #005FA9;
        }
    }

    .content-mid {
        background-color: #7741BD;
        color: #005FA9;

        border: 0.5px solid transparent;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        h2 {
            text-transform: capitalize;
            border-bottom: 1px solid white;
        }

        .todo-item {

            text-align: center;
            overflow: hidden;
            /* max-height: 7rem; */

            margin: 0.5rem 0;

            .todo-item-control p {
                cursor: pointer;
            }

            .todo-item-bton {
                display: flex;
                justify-content: space-around;

                font-size: xx-large;

                border: 1px solid transparent;
                cursor: pointer;

            }
        }
    }

    .content-right {
        background-color: #005FA9;
        border: 0.5px solid transparent;
        border-radius: 0.5rem;

        img {
            border: 1px solid transparent;
            border-radius: 50%;
        }

        button {
            border: 1px solid transparent;
        }

        button:hover {
            background-color: transparent;

            img {
                filter: blur(0.1rem);
            }
        }
    }
}

.todo-item {
    height: 9rem;
}

.todo-item-inprocess {
    background: #E9E172;
}

.todo-item-success {
    background-color: #76DB3E;
    color: white;
}

.span-share{
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: #005FA9;
    color: white;
}